<div class="container">
    <div class="col-md-3" style= "border: 1px solid red; padding: 10px; margin: 20px;">
      <p>This article is for decription. you can read. but you can not write here</p>
    </div>
    <div class="col-md-8" >
      <%= link_to 'Home', root_path %><span> > New student registration</span>
    </div>
    <div class="col-md-8" style= "border: 1px solid red; padding: 10px; margin: 20px;">
            <%= form_for(@studentt) do |f| %>
              <% if @studentt.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@studentt.errors.count, "error") %> prohibited this studentt from being saved:</h2>
            
                  <ul>
                  <% @studentt.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
            
              <div class="field">
                <%= f.label :name,  :value => 'Name / Name',style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom:25px;'%>
                <div style="float: right;">
                <%= f.text_field :name, autofocus: true, style: 'width: 400px; margin-right: 90px;' %><br>
                <p>(Example) Achiroka Nagaki</p>
                </div>
              </div>
              <div class="field">
                <%= f.label :namejp ,  :value => 'Name / Name Japanese',style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom:25px;'%>
                <div style="float: right;margin-top: -50px; ">
                <%= f.text_field :namejp , style: 'width: 400px;  margin-right: 90px;' %><br>
                <p>(Example) 名前</p>
                </div>
              </div>
              <div class="field">
                    <%= f.label :sex , :value => 'Gender',style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 0px;'%>
                    <div style="float: right; margin-top: -30px ;margin-right: 370px;">
                    <%= f.radio_button :sex, 'Male' %> 
                    <%= f.label :sex, 'Male', :value => 'Male' %>
                    <%= f.radio_button :sex, 'Female' %>
                    <%= f.label :sex, 'Female', :value => 'Female' %>
                    </div>
              </div>
              <div class="field">
                <%= f.label :types , style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 10px;' %>
                <div style="float: right; width: 490px; padding:2px; padding: 5px;">
                <%= select_tag(:types, options_for_select([
                  ['Sending Company','Sending Company'], 
                  ['168 Company','168 Company'],
                  ['CL Supply','CL Supply'],
                  ['University','University'],
                  ['High School','High School'], 
                  ['Other', 'Other']])) %> 
                </div>
              </div>
              <div class="field">
                <%= f.label :company , style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 10px;' %>
                <div style="float: right; width: 490px; padding:2px; padding: 5px;">
                <%= f.text_field :company %>
                </div>
              </div>
              <div class="field">
                <%= f.label :level , style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 10px;' %>
                <div style="float: right; width: 490px; padding:2px; padding: 5px;">
                <%= select_tag(:level, options_for_select([['Japanese level','Japanese level'],['N5','N5'],['N4','N4'],['N3','N3'],['N2','N2'],['Other', 'Other']])) %> 
              </div>
              </div>
              <div class="field">
                <%= f.label :dayofbirth , :value => 'Date of Birth' ,style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 0px;'%>
                <div style="float: right; margin-top: 0px; margin-right: 270px;">
                <%= f.date_select :dayofbirth , :start_year => Date.current.year, :end_year => 1930 %>
                <span class="glyphicon glyphicon-calendar" style="color: red;"></span><br>
                </div>
              </div>
              <div class="field">
                <%= f.label :age , style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 10px;' %>
                <div style="float: right; width: 490px; padding:2px; padding: 5px;">
                <%= f.number_field :age %>
              </div>
              </div>
              <div class="field">
                <%= f.label :work ,:value => 'Feild of Working', style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 10px;' %>
                <div style="float: right; width: 490px; padding:2px; padding: 5px;">
                <%= f.text_field :work %>
              </div>
              </div>
              <div class="field">
                <%= f.label :datego, :value => 'Date go to Japan' , style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 10px;' %>
                <div style="float: right; width: 490px; padding:2px; padding: 5px;">
                <%= f.date_select :datego %>
                </div>
              </div>
              <div class="field">
                <%= f.label :dateinput ,:value => 'Date of Entry', style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 10px;' %>
                <div style="float: right; width: 490px; padding:2px; padding: 5px;">
                <%= f.date_select :dateinput %>
                </div>
              </div>
              <div class="field">
                <%= f.label :nationality, :value => 'Nationality / Nationality' , style: 'width: 200px; background-color: #e6e6e6;padding:5px;'%>
                <div style="float: right; width: 487px; padding:2px; margin-top: 0px; ">
                <%= select_tag( :nationality , options_for_select([
                  ['Country of Citizenship','Country of Citizenship'], 
                  ['Thialand','Thialand'],
                  ['Japan','Japan'], 
                  ['Mayanmar', 'Mayanmar'], 
                  ['Singapore','Singapore'], 
                  ['Veitname', 'Veitname'], 
                  ['Laos','Laos'], 
                  ['Indonasia', 'Indonasia'], 
                  ['Malayasia','Malayasia'], 
                  ['Cambodia', 'Cambodia'], 
                  ['Lisbon','Lisbon'], 
                  ['Other', 'Other']])) %> 
              </div>
              </div>
              <div class="field">
                <%= f.label :zipcode , :value => 'Zip code', style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 70px;' %><br>
                <div style="float: right; width: 490px; padding:2px; margin-top: -100px;">
                <%= f.number_field :zipcode , style: ' padding:2px; ' %><br>
                <p>(Example) 000-0000</p>
                <%= link_to 'Check out', root_path, class: 'btn btn-default' %>
                </div>
              </div>
              <div class="field">
                <%= f.label :prefecture , style: 'width: 200px; background-color: #e6e6e6;padding:5px;'%>
                <div style="float: right; width: 490px; padding:2px; margin-top: 0px;">
                <%= select_tag(:prefecture, options_for_select([
                  ['Tokyo City','Tokyo City'], 
                  ['Hokkaido prefecture', 'Hokkaido prefecture'],
                  ['Kanagawa','Kanagawa'], 
                  ['Aichi prefecture', 'Aichi prefecture'], 
                  ['Akita prefecture','Akita prefecture'], 
                  ['Aomori', 'Aomori'], 
                  ['Fukushima','Fukushima'], 
                  ['Saitama', 'Saitama'], 
                  ['Fukui','Fukui'], 
                  ['Fukuoka', 'Fukuoka'], 
                  ['Hiroshima','Hiroshima'], 
                  ['Toyama', 'Toyama'],
                  ['Okayama','Okayama'], 
                  ['Ehime', 'Ehime'],
                  ['Osaka','Osaka'], 
                  ['Kobe', 'Kobe'], 
                  ['Kyoto','Kyoto'], 
                  ['Okinawa', 'Okinawa'], 
                  ['Saga','Saga'], 
                  ['Other', 'Other']])) %>
                </div>
              </div>
              <div class="field">
                <%= f.label :city , :value => 'Address(City / Town)',style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom:40px;'%>
                <div style="float: right;">
                <%= f.text_field :city ,style: 'width: 400px; margin-right: 90px;' %><br>
                <p>(Example) Chiyoda ku 1-1-1 <br><span style="color: red;">? </span>Please input numbers and hyphens</p>
              </div>
              </div>
              <div class="field">
                <%= f.label :building, :value => 'Address(Building)' ,style: 'width: 200px; background-color: #e6e6e6; padding:5px; padding-bottom:40px;'%>
              <div style="float: right; margin-top: -70px;">
                <%= f.text_field :building ,style:'width: 400px; margin-right: 90px;' %><br>
              <p>(Ex.) Tokiwasoso 202 Room <br><span style="color: red;">? </span>Please enter numbers and letters in half size</p>
              </div>
              </div>
              <div class="field">
                <%= f.label :telephone , :value => 'Phone Number',style: 'width: 200px; background-color: #e6e6e6;padding:5px; padding-bottom: 25px;'%>
                <div style="float: right; margin-top: -55px;">
                <%= f.text_field :telephone ,style:' width: 400px; margin-right: 90px;' %><br>
              <p><span style="color: red;">? </span>Please enter half-width numeric characters</p>
              </div>
              </div>
              <div class="field">
                <%= f.label :education , style: 'width: 200px; background-color: #e6e6e6;padding:5px;'%>
                <div style="float: right; width: 490px; padding:2px; margin-top: -35px;">
                <%= select_tag(:education, options_for_select([
                            ['--select-level--','--select-level--'],
                            ['Middle School Graduate','Middle School Graduate'], 
                            ['High School Graduate', 'High School Graduate'],
                            ['Vocational School Graduate','Vocational School Graduate'], 
                            ['Graduate From Junior College', 'Graduate From Junior College'], 
                            ['University Degree','University Degree'], 
                            ['Master Degree', 'Master Degree']])) %>
                </div>
              </div>
              <div class="field">
                <%= f.label :email , :value => 'Email' ,style: 'width: 200px; background-color: #e6e6e6; padding:5px; padding-bottom: 2px;'%>
                <div style="float: right; margin-top: 2px; margin-right: 313px;">
                <%= f.email_field :email , autocomplete: "email" %>
                </div>
              </div>
              <div class="field">
                <%= f.label :remail , :value => 'Re-input Email' ,style: 'width: 200px; background-color: #e6e6e6; padding:5px; padding-bottom: 2px;'%>
                <div style="float: right; margin-top: 2px; margin-right: 313px;">
                <%= f.email_field :remail , autocomplete: "off" %>
                </div>
              </div>
              <div class="field">
                <%= f.label :pas , :value => 'Password' ,style: 'width: 200px; background-color: #e6e6e6; padding:5px; padding-bottom: 2px;'%>
                <div style="float: right; margin-top: 2px; margin-right: 313px;">
                <%= f.password_field :pas , autocomplete: "off" %>
                </div>
              </div>
              <div class="field">
                <%= f.label :pass , :value => 'Re-input Password' ,style: 'width: 200px; background-color: #e6e6e6; padding:5px; padding-bottom: 2px;'%>
                <div style="float: right; margin-top: 2px; margin-right: 313px;">
                <%= f.password_field :pass , autocomplete: "off" %>
                </div>
              </div>
              <div class="actions">
                <%= f.submit 'Submit', class:'btn btn-success' %>
              </div>
            <% end %>
        </div>
  </div>

