<p>
  <strong>Name:</strong>
  <%= @studentt.name %>
</p>

<p>
  <strong>Name_Jp:</strong>
  <%= @studentt.namejp %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @studentt.sex %>
</p>

<p>
  <strong>Types:</strong>
  <%= @studentt.types %>
</p>

<p>
  <strong>Company:</strong>
  <%= @studentt.company %>
</p>

<p>
  <strong>Japanese Level:</strong>
  <%= @studentt.level %>
</p>

<p>
  <strong>Dayo Of birth:</strong>
  <%= @studentt.dayofbirth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @studentt.age %>
</p>

<p>
  <strong>Working Feild:</strong>
  <%= @studentt.work %>
</p>

<p>
  <strong>Date Go To Japanese:</strong>
  <%= @studentt.datego %>
</p>

<p>
  <strong>Date Entry Date:</strong>
  <%= @studentt.dateinput %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @studentt.nationality %>
</p>

<p>
  <strong>Zip_Code:</strong>
  <%= @studentt.zipcode %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @studentt.prefecture %>
</p>

<p>
  <strong>City:</strong>
  <%= @studentt.city %>
</p>

<p>
  <strong>Building:</strong>
  <%= @studentt.building %>
</p>

<p>
  <strong>Tele_Phone:</strong>
  <%= @studentt.telephone %>
</p>

<p>
  <strong>Education:</strong>
  <%= @studentt.education %>
</p>

<p>
  <strong>Email:</strong>
  <%= @studentt.email %>
</p>

<p>
  <strong>Re_mail:</strong>
  <%= @studentt.remail %>
</p>

<p>
  <strong>Password:</strong>
  <%= @studentt.pas %>
</p>

<p>
  <strong>Re_Password:</strong>
  <%= @studentt.pass %>
</p>

<%= link_to 'Edit', edit_studentt_path(@studentt) %> |
<%= link_to 'Back', studentts_path %>
